  @font-face {
    font-family: "Gilroy";  
    src: url("../fonts/Gilroy-Regular.woff"),
    url("../fonts/Gilroy-Regular.woff2");
    font-weight: 400;
    font-display: fallback;
  }
  
  @font-face {
    font-family: "Gilroy";  
    src: url("../fonts/Gilroy-Semibold.woff"),
    url("../fonts/Gilroy-Semibold.woff2");
    font-weight: 600;
    font-display: fallback;
  }
  
  @font-face {
    font-family: "Gilory";  
    src: url("../fonts/Gilroy-Bold.woff"),
    url("../fonts/Gilroy-Bold.woff2");
    font-weight: 700;
    font-display: fallback;
  }
  
  @font-face {
    font-family: "Gilroy";  
    src: url("../fonts/Gilroy-Medium.woff"),
    url("../fonts/Gilroy-Medium.woff2");
    font-weight: 500;
    font-display: fallback;
  }
  
  
  @font-face {
    font-family: "FiraSansExtraCondensed";  
    src: url("../fonts/FiraSansExtraCondensed-Regular.woff"),
    url("../fonts/FiraSansExtraCondensed-Regular.woff2");
    font-weight: 400;
    font-display: fallback;
  }
  
  @font-face {
    font-family: "FiraSansExtraCondensed";  
    src: url("../fonts/FiraSansExtraCondensed-SemiBold.woff"),
    url("../fonts/FiraSansExtraCondensed-SemiBold.woff2");
    font-weight: 600;
    font-display: fallback;
  }
  
  @font-face {
    font-family: "FiraSansExtraCondensed";  
    src: url("../fonts/FiraSansExtraCondensed-Bold.woff"),
    url("../fonts/FiraSansExtraCondensed-Bold.woff2");
    font-weight: 700;
    font-display: fallback;
  }
  
  @font-face {
    font-family: "FiraSansExtraCondensed";  
    src: url("../fonts/FiraSansExtraCondensed-Medium.woff"),
    url("../fonts/FiraSansExtraCondensed-Medium.woff2");
    font-weight: 500;
    font-display: fallback;
  }